.imageCustomStyle > div > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageCustomStyle > div > figure > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
